* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body {
    /* background-color: black; */

}

main {
position: relative;    

}

#grid {
    background-color: gray;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 0px;
    border-radius: 10px;
}

i {
    padding: 0px 5px;
}

.container {
    max-width: 1170px;
    height: 100vh;
    background-color: aquamarine;
}