* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    background-color: black;

}


.top {
    background-color: black;
    text-align: right;
    height: 35px;
    padding: 5px;
}

.top>a {
    display: inline-block;
    background-color: gray;
    color: white;
    border-radius: 5px;
    line-height: 30px;
    vertical-align: middle;
}

i {
    padding: 0px 5px;
}

.container {
    max-width: 1170px;
    margin: 50px auto;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;



}

.container img {
    width: calc(100% / 7);
    padding: 5px;


}
